<footer class="footer">
    <div class="footer-content">
        {% if page.hide_subscribe == nil %}
        <h3><a href="{{ site.url }}/subscribe">Subscribe for updates</a></h3>
        <p>You can follow me via email, <a href="{{ site.url }}/atom.xml">RSS</a> or <a href="https://front-end.social/@svoisen">find me on Mastodon</a>.</p>
        {% include subscribe.html %}
        {% endif %}
        <div class="copyright">
            <a href="{{ site.url }}/uncopyright" title="Read my uncopyright message.">Uncopyrighted</a> by <strong>Sean Voisen</strong>. 
        </div>
    </div>
</footer>

<script>
    const toggle = document.getElementById("theme-select");
    const storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    if (storedTheme) {
        document.documentElement.setAttribute('data-theme', storedTheme)
        toggle.checked = (storedTheme === "light");
    }

    toggle.addEventListener("change", () => {
        let targetTheme = toggle.checked ? "light" : "dark";
        document.documentElement.setAttribute('data-theme', targetTheme)
        localStorage.setItem('theme', targetTheme);
    });
</script>