<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon_16x16.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon_16x16.png">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}">
    <meta name="twitter:creator" content="@{{ site.author.name }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Newsreader:ital,wght@1,400&display=swap" rel="stylesheet"> 

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <style type="text/css">
        {% capture include_to_scssify %}
        {% include inline.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
</head>
