<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon_16x16.png">
    <link rel="shortcut icon" href="{{ site.url }}/favicon_16x16.png">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/atom.xml">
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.url }}/sitemap.xml" />
    <link rel="me" href="https://front-end.social/@svoisen">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Newsreader:ital,wght@1,400&display=swap" rel="stylesheet"> 

    <meta name="twitter:site" content="@{{ site.twitter.username }}">
    <meta name="twitter:creator" content="@{{ site.twitter.username }}">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% endif %}
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta property="og:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.title_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/{{ page.title_image }}">
    <meta property="og:image" content="{{ site.url }}/{{ page.title_image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.url }}/{{ site.title_image }}">
    <meta property="og:image" content="{{ site.url }}/{{ site.title_image }}">
    <meta property="og:image:width" content="256"/>
    <meta property="og:image:height" content="256"/>
    {% endif %}
    <meta name="og:locale" content="en_US">
    <style type="text/css">
        {% include styles.css %}
    </style>
</head>
