<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon_16x16.png">
    <link rel="shortcut icon" href="{{ site.url }}/favicon_16x16.png">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/atom.xml">
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.url }}/sitemap.xml" />
    <link rel="me" href="https://front-end.social/@svoisen">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Newsreader:ital,wght@1,400&display=swap" rel="stylesheet"> 

    {% seo %}

    <style type="text/css">
        {% include styles.css %}
    </style>
</head>
