<header class="banner" role="banner">
    <h1 class="title narrow"><a href="/" title="Return home.">SV</a></h1>
    <h1 class="title wide"><a href="/" title="Return home.">Sean Voisen</a></h1>
    <nav class="nav">
    <ul>
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}
        {% if url == link.url %}
            <li class="active">{{ link.text }}</li>
        {% else %}
            <li><a href="{{ link.url }}" title={{ link.title }}>{{ link.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    </nav>
</header>