<header class="header" role="banner">
    <h1 class="title narrow"><a href="/" title="Return home.">SV</a></h1>
    <h1 class="title wide"><a href="/" title="Return home.">Sean Voisen</a></h1>
    <nav class="nav">
    <ul>
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}
        <li {% if url == link.url %}class="active"{% endif %}>
        <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
        {% endfor %}
    </ul>
    </nav>
</header>