:root {
    --base04:    #00232c;
    --base03:    #002d38;
    --base02:    #093946;
    --base01:    #5b7279;
    --base00:    #657377;
    --base0:     #98a8a8;
    --base1:     #8faaab;
    --base2:     #f1e9d2;
    --base3:     #fbf7ef;
    --yellow:    #ac8300;
    --orange:    #d56500;
    --red:       #f23749;
    --magenta:   #dd459d;
    --violet:    #7d80d1;
    --blue:      #2b90d8;
    --cyan:      #259d94;
    --green:     #819500;

    --extra-small-text: 0.75rem;
    --small-text: 0.875rem;
    --medium-text: 1rem;
    --large-text: 1.125rem;
    --extra-large-text: 1.5rem;
    --extra-extra-large-text: 1.625rem;

    --content-width: 40rem;
    --content-wrap: var(--content-width);
}

html[data-theme='light'] {
    --background-color: var(--base3);
    --foreground-color: var(--base03);
    --link-color: var(--base01);
    --link-underline-color: var(--base1);
    --link-hover-color: var(--yellow);
    --link-hover-underline-color: var(--yellow);
    --blockquote-color: var(--base01);
    --blockquote-border-color: var(--base1);
    --border-color: var(--base2);
    --footnote-color: var(--base01);
    --metadata-color: var(--base01);
    --theme-select-switch-color: var(--base1);
    --button-background-color: var(--base01);
    --button-foreground-color: var(--base2);
    --button-hover-background-color: var(--link-hover-color);
    --button-hover-foreground-color: var(--base3);
}

html[data-theme='dark'] {
    --background-color: var(--base03);
    --foreground-color: var(--base3);
    --link-color: var(--base1);
    --link-underline-color: var(--base01);
    --link-hover-color: var(--yellow);
    --link-hover-underline-color: var(--yellow);
    --blockquote-color: var(--base0);
    --blockquote-border-color: var(--base01);
    --border-color: var(--base02);
    --metadata-color: var(--base0);
    --footnote-color: var(--base0);
    --theme-select-switch-color: var(--base01);
    --button-background-color: var(--base01);
    --button-foreground-color: var(--base2);
    --button-hover-background-color: var(--link-hover-color);
    --button-hover-foreground-color: var(--base3);
}

body {
    line-height: 1.75;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background: var(--background-color);
    color: var(--foreground-color);
    font-weight: 400;
    font-size: var(--medium-text);
}

hr {
    border: none;
    box-sizing: content-box;
    height: 2px;
    overflow: visible;
    background-color: var(--border-color);
    margin: 2rem 0 2rem 0;
}

a {
    color: var(--link-color);
    text-decoration-color: var(--link-underline-color);
    text-decoration-style: solid;
    text-decoration-thickness: 1.5px;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-underline-color);
    transition: 0.250s;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}

acronym, abbr {
    cursor: help;
    text-decoration-color: var(--link-underline-color);
    text-decoration-style: dotted;
}

strong {
    font-weight: 700;
}

h2 {
    margin-top: 3rem;
    font-size: var(--extra-large-text);
    font-weight: 700;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: var(--large-text);
    font-weight: 700;
}

h3 + p {
    margin-top: 0.25rem;
}

em {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: var(--large-text);
    line-height: 1;
}

pre, code, kbd, samp {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: var(--medium-text);
}

small {
    font-size: var(--extra-small-text);
}

sub, sup {
    font-size: var(--extra-small-text);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25rem;
}

sup {
    top: -0.5rem;
}

img {
    border-style: none;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    font-size: var(--small-text);
    text-align: center;
    color: var(--metadata-color)
}

blockquote {
    border-left: 0.25rem solid var(--blockquote-border-color);
    padding-left: 1rem;
    margin: 2rem 0 2rem 0;
    color: var(--blockquote-color);
}

.theme-select-container {
    position: relative;
    margin-left: 1rem;
}

.theme-select {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
}

.theme-select-label {
    filter: brightness(80%);
    box-sizing: border-box;
    background-color: var(--background-color);
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-select-label .moon {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 1.625rem;
    background: var(--foreground-color);
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='currentColor'%20viewBox='0%200%2024%2024'%20%3E%3Cpath%20d='M20.354%2015.354A9%209%200%20018.646%203.646%209.003%209.003%200%200012%2021a9.003%209.003%200%20008.354-5.646z'%20/%3E%3C/svg%3E");
}

.theme-select-label .sun {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 2px;
    background: var(--foreground-color);
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%20fill='currentColor'%20%3E%3Cpath%20fill-rule='evenodd'%20d='M10%202a1%201%200%20011%201v1a1%201%200%2011-2%200V3a1%201%200%20011-1zm4%208a4%204%200%2011-8%200%204%204%200%20018%200zm-.464%204.95l.707.707a1%201%200%20001.414-1.414l-.707-.707a1%201%200%2000-1.414%201.414zm2.12-10.607a1%201%200%20010%201.414l-.706.707a1%201%200%2011-1.414-1.414l.707-.707a1%201%200%20011.414%200zM17%2011a1%201%200%20100-2h-1a1%201%200%20100%202h1zm-7%204a1%201%200%20011%201v1a1%201%200%2011-2%200v-1a1%201%200%20011-1zM5.05%206.464A1%201%200%20106.465%205.05l-.708-.707a1%201%200%2000-1.414%201.414l.707.707zm1.414%208.486l-.707.707a1%201%200%2001-1.414-1.414l.707-.707a1%201%200%20011.414%201.414zM4%2011a1%201%200%20100-2H3a1%201%200%20000%202h1z'%20clip-rule='evenodd'%20/%3E%3C/svg%3E")
}

.theme-select-label .ball {
    background-color: var(--theme-select-switch-color);
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.1s linear;
}

.theme-select:checked + .theme-select-label .ball {
    transform: translateX(1.5rem);
}

.banner {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    flex-direction: row;
    border-bottom: 2px solid var(--border-color);
}

.banner .title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: var(--medium-text);
    flex-grow: 1;
}

.banner .title a {
    color: var(--metadata-color);
    text-decoration: none;
}

.banner .title a:hover {
    color: var(--link-hover-color);
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 0.5rem;
}

.navigation li[data-overflow="true"] {
    display: none;
}

.content {
    width: var(--content-wrap);
    max-width: var(--content-width);
    margin: 0 auto 0 auto;
    padding: 0;
}

ul, ol {
    padding-left: 1rem;
    margin-left: 1rem;
}

ul li {
    list-style: disc outside none;
    margin-bottom: 0.5rem;
}

ol li {
    list-style: decimal outside none;
    margin-bottom: 0.5rem;
}

li::marker {
    color: var(--link-underline-color);
}

.home .intro {
    margin: 4rem 0 0 0;
    padding: 0 0 2rem 0;
}

.home .more {
    margin-top: 2rem;
    text-align: right;
}

a.post-preview {
    text-decoration: none;
    color: var(--foreground-color)
}

a.post-preview:hover h3 {
    color: var(--link-hover-color);
    transition: color 0.25s;
}

.post-header {
    margin: 4rem 0 2rem 0;
}

.post-title {
    font-size: var(--extra-extra-large-text);
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.post-metadata {
    font-weight: 400;
    color: var(--metadata-color);
    font-size: var(--medium-text);
    margin: 0;
    padding: 0;
}

.posts-list {
    margin: 0;
    padding: 0;
    list-style: disc;
}

.posts-list li {
    padding: 0;
    margin-bottom: 1.25rem;
    display: block;
    align-items: center;
}

.posts-list li .post-title {
    text-align: left;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    margin-right: 1em;
    font-size: var(--medium-text);
    font-weight: 400;
    line-height: auto;
    margin: 0;
}

.posts-list li .post-metadata {
    color: var(--metadata-color);
    font-size: var(--extra-small-text);
    text-align: right;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0;
}

.posts-list li:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 0.5rem;
}

img.post-splash {
    width: 100%;
    aspect-ratio: 2 / 1;
}

img.bordered {
    border: 2px solid var(--border-color);
}

img.profile-image {
    display: none;
    border-radius: 0.5rem;
    margin: 0.375rem 1rem 0.25rem 0;
    padding: 0.25rem;
    border: 2px solid var(--border-color);
    width: 128px;
    float: left;
    aspect-ratio: 1;
}

.footnote {
    font-size: var(--small-text);
    border-top: 2px solid var(--border-color);
    margin-top: 2rem;
    padding-top: 2rem;
    color: var(--footnote-color);
}

.footnote p {
    margin-top: 0;
}

.footnote em {
    font-size: 1rem;
}

.footnote :first-child {
    margin-top: 0;
    padding-top: 0;
}

.books-grid {
    margin: 2rem 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    row-gap: 2rem;
    align-items: end;
}

.books-grid-item {
    display: grid;
    list-style: none;
    grid-template-rows: auto 5rem;
}

.books-grid-cover {
    border-radius: 0.25rem;
}

.books-grid-metadata {
    text-align: center;
    padding: 0.5rem 0 0 0;
    line-height: 1.25;
    font-size: var(--small-text);
    overflow: hidden;
}

.books-grid-metadata > .books-grid-author {
    font-size: var(--extra-small-text);
}

.books-list {
    padding: 2rem 0 2rem 0;
    margin: 2rem 0 0 0;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    line-height: 1.25;
}

.books-list li {
    list-style: none;
    margin: 0 0 1.5rem 0;
}

.books-list .book-metadata {
    font-size: var(--small-text);
    color: var(--metadata-color);
}

.book-details li {
    margin-bottom: 0;
}

.footer {
    margin: 2rem auto 4rem auto;
    width: var(--content-wrap);
    max-width: var(--content-width);
}

.footer p {
    margin: 0;
}

.footer h2, .footer h3 {
    border-top: 2px solid var(--border-color);
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.footer h3 a {
    text-decoration: none;
    color: var(--foreground-color);
}

.footer h3 a:hover {
    color: var(--link-hover-color);
}

.footer .copyright {
    margin-top: 4rem;
    text-align: center;
    font-size: var(--extra-small-text);
}

.footer em {
    font-size: var(--medium-text);
}

.subscribe-form {
    margin: 1rem 0 3rem 0;
}

.subscribe-form input[type="email"] {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: var(--foreground-color);
    font-size: var(--medium-text);
    border-bottom: 2px solid var(--border-color);
}

.subscribe-form input[type="email"]::placeholder {
    color: var(--footnote-color);
}

.subscribe-form input[type="email"]:focus {
    outline: none;
    border-bottom-color: var(--link-hover-color);
}

.subscribe-form input[type="submit"] {
    appearance: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-foreground-color);
    font-size: var(--medium-text);
    margin-left: 1rem;
}

.subscribe-form input[type="submit"]:hover {
    cursor: pointer;
    color: var(--button-hover-foreground-color);
    background-color: var(--button-hover-background-color);
    transition: all;
    transition-duration: 0.25s;
}

.subscribe-form input[type="submit"]:focus {
    outline: 2px solid var(--link-hover-color);
}

@media only screen and (max-width: 860px) {
    :root {
        --content-wrap: 88vw;
        --content-width: 100vw;
    }
}

@media only screen and (min-width: 568px) {
    .navigation li[data-overflow="true"] {
        display: inline-block;
    }

    .banner {
        flex-direction: row;
    }

    .books-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    img.profile-image {
        display: block;
    }

    .posts-list li {
        display: flex;
        align-items: center;
    }

    .posts-list li .post-metadata {
        font-size: var(--small-text);
        margin: 0 0 0 1rem;
    }
}