:root {
    --gray1: #fcfcfc;
    --gray2: #f8f8f8;
    --gray3: #f3f3f3;
    --gray4: #ededed;
    --gray5: #e8e8e8;
    --gray6: #e2e2e2;
    --gray7: #dbdbdb;
    --gray8: #c7c7c7;
    --gray9: #8f8f8f;
    --gray10: #858585;
    --gray11: #6f6f6f;
    --gray12: #171717;
    --hot-orange: #ff5c00;
    --light-orange: #ffb082;
    --background-color: var(--gray1);
    --foreground-color: var(--gray12);
    --link-color: var(--hot-orange);
    --link-underline-color: var(--gray8);
    --link-hover-underline-color: var(--foreground-color);
    --blockquote-color: var(--gray11);
    --blockquote-border-color: var(--gray6);
    --border-color: var(--gray5);
    --footnote-color: var(--gray11);
    --metadata-color: var(--gray9);
}

body {
    line-height: 1.75;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background: var(--background-color);
    color: var(--foreground-color);
    font-weight: 400;
}

hr {
    border: none;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: var(--border-color);
    margin: 2rem 0 2rem 0;
}

a {
    color: var(--link-color);
    text-decoration-color: var(--link-underline-color);
    text-decoration-style: solid;

    &:hover {
        text-decoration-color: var(--link-hover-underline-color);
        text-decoration-style: solid;
        transition: 0.625s;
    }
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}

acronym, abbr {
    cursor: help;
    text-decoration-color: var(--link-underline-color);
    text-decoration-style: dotted;
}

strong {
    font-weight: 700;
}

em {
    font-family: "Newsreader", serif;
    font-size: 1.125rem;
    line-height: 1;
}

pre, code, kbd, samp {
    font-family: "Source Code Pro", monospace, courier;
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

sub, sup {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25rem;
}

sup {
    top: -0.5rem;
}

img {
    border-style: none;
}

[hidden] {
    display: none;
}

blockquote {
    border-left: 0.25rem solid var(--blockquote-border-color);
    padding-left: 1rem;
    margin: 2rem 0 2rem 0;
    color: var(--blockquote-color);
}

header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);

    .title.wide {
        display: none;
    }

    .title {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 1rem;
        flex-grow: 1;

        a {
            color: var(--foreground-color);
            text-decoration: none;
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5rem 0 0;

                &.active a {
                   text-decoration: none; 
                }
            }

            :last-child {
                margin: 0;
            }
        }

        a {
            color: var(--foreground-color);

            &:hover {
                color: var(--link-color);
            }
        }
    }
}

main {
    max-width: 40rem;
    margin: 0 auto 0 auto;
    padding: 0 2rem 1rem 2rem;

    code {
        font-size: 0.875rem;
    }

    ul {
        li {
            list-style: square outside none;
            margin-bottom: 0.5rem;
        }
    }

    ol {
        li {
            list-style: decimal outside none;
            margin-bottom: 0.5rem;
        }
    }

    .post {
        .header {
            margin: 4rem 0 2rem 0;

            .title {
                font-size: 1.125rem;
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

            .meta {
                font-weight: 400;
                color: var(--metadata-color);
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }
        }

        img {
            max-width: 100%;
            display: block;
            border-radius: 0.5rem;
        }

        img.profile {
            border-radius: 0.5rem;
            display: none;
        }

        h2 {
            margin-top: 3rem;
            font-size: 1rem;
            font-weight: 700;
        }

        ul, ol {
            padding-left: 1.5rem;
            margin-left: 1.5rem;
        }

        ul.archives {
            margin: 0;
            padding: 2rem 0 2rem 0;
            list-style: none;
            text-align: center;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);

            li {
                padding: 0;
                margin: 0 0 1rem 0;
                display: flex;
                align-items: center;

                .title {
                    text-align: left;
                    flex-grow: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 1em;
                }

                .date {
                    color: var(--metadata-color);
                    font-size: 0.875rem;
                    text-align: right;
                    min-width: -moz-max-content;
                    min-width: max-content;
                }
            }

            a {
                color: var(--foreground-color);

                &:hover {
                    color: var(--link-color);
                }
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}

p.intro {
    margin: 4rem 0 0 0;
    padding: 0 0 2rem 0;
}

p.more {
    margin-top: 2rem;
    text-align: right;
    font-size: 1rem;
}

.footnote {
    font-size: 0.875rem;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
    padding-top: 2rem;
    color: var(--footnote-color);

    :first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

footer {
    margin: 2rem auto 2rem auto;
    text-align: center;
    max-width: 40rem;

    p {
        margin: 0;
        padding: 0;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 568px) {
    header {
        .title.wide {
            display: block;
        }

        .title.narrow {
            display: none;
        }
    }

    main {
        .post {
            img.profile {
                float: left;
                display: block;
                width: 30%;
                min-width: 164px;
                margin: 0.375rem 1rem 0.25rem 0;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray1: #1a1a1a;
        --gray2: #1c1c1c;
        --gray3: #232323;
        --gray4: #282828;
        --gray5: #2e2e2e;
        --gray6: #343434;
        --gray7: #3e3e3e;
        --gray8: #505050;
        --gray9: #707070;
        --gray10: #7e7e7e;
        --gray11: #a0a0a0;
        --gray12: #ededed;
        --link-color: var(--light-orange);
    }
}