:root {
    --background-color: white;
    --foreground-color: black;
    --header-background-color: white;
    --header-link-color: black;
    --body-link-color: #cc0000;
    --body-link-underline-color: #999999;
    --body-link-hover-underline-color: black;
    --blockquote-color: #666666;
    --border-color: #d0d0d0;
    --accent-color: #cc0000;
    --highlight-color: #fdf6e3;
    --dark-gray: #666666;
    --medium-gray: #999999;
    --faint-gray: #f2f2f2;
    --light-gray: #d0d0d0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background: var(--background-color);
    color: var(--foreground-color);
}

hr {
    border: none;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: var(--border-color);
    margin: 2rem 0 2rem 0;
}

a {
    color: var(--body-link-color);
    text-decoration-color: var(--body-link-underline-color);
    text-decoration-style: dotted;
    text-underline-offset: 0.125rem;

    &:hover {
        text-decoration-color: var(--body-link-hover-underline-color);
        text-decoration-style: solid;
        transition: 0.625s;
    }
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}

acronym, abbr {
    cursor: help;
    text-decoration-color: var(--body-link-underline-color);
    text-decoration-style: dotted;
}

b, strong {
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: "Source Code Pro", monospace, courier;
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

sub, sup {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25rem;
}

sup {
    top: -0.5rem;
}

img {
    border-style: none;
}

[hidden] {
    display: none;
}

blockquote {
    border-left: 0.25rem solid var(--faint-gray);
    padding-left: 1rem;
    margin: 0;
    color: var(--blockquote-color);
}

ul {
    li {
        list-style: square outside none;
        margin-bottom: 0.5rem;
    }
}

ol {
    li {
        list-style: decimal outside none;
        margin-bottom: 0.5rem;
    }
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    border-bottom: 1px solid var(--light-gray);

    .title {
        display: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 1.125rem;
        flex-grow: 1;

        a {
            color: black;
            text-decoration: none;
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5rem 0 0;

                &.active a {
                   text-decoration: none; 
                }
            }
        }

        a {
            color: black;
        }
    }
}

main {
    max-width: 40rem;
    margin: 0 auto 0 auto;
    padding: 0 2rem 1rem 2rem;

    code {
        font-size: 0.875rem;
    }
}

.post {
    .header {
        text-align: center;
        margin: 2rem 0 2rem 0;

        .title {
            font-size: 1.625rem;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .meta {
            font-weight: normal;
            color: var(--medium-gray);
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    }

    h2 {
        font-size: 1.375rem;
        font-weight: bold;
        margin: 1.5rem 0 0 0;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 1.5rem 0 0 0;
    }

    h4 {
        font-weight: normal;
        font-style: italic;
        margin: 1.5rem 0 0.5rem;
        font-size: 1rem;
    }

    h2 + p, h3 + p, h2 + ul, h3 + ul, h2 + ol, h3 + ol {
        margin-top: 0;
    }

    ul, ol {
        padding-left: 1.5rem;
        margin-left: 1.5rem;
    }
}

.intro {
    margin: 2rem 0 2rem 0;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid var(--light-gray);
}

.more {
    margin-top: 2rem;
    text-align: right;
}

ul.archives {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        padding: 0;
        margin: 0 0 1rem 0;
        display: flex;
        align-items: center;

        .title {
            text-align: left;
            flex-grow: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 1em;
        }

        .date {
            color: var(--medium-gray);
            font-size: 0.875rem;
            text-align: right;
            min-width: -moz-max-content;
            min-width: max-content;
        }
    }
}

footer {
    margin: 2rem auto 2rem auto;
    text-align: center;
    max-width: 40rem;

    p {
        margin: 0;
        padding: 0;
        font-size: 0.75rem;
    }
}

.framed {
    padding: 2px;
    border: 1px solid var(--light-gray);
    overflow: hidden;
    max-width: 100%;
}

ul.projects {
    margin: 0;
    padding: 0;

    li {
        list-style: none !important;
        position: relative;
        border: 1px solid var(--light-gray);
        padding: 2px;
        margin: 0 0 1rem 0;

        .title {
            position: absolute;
            bottom: 2px;
            left: 2px;
            background: white;
        }

        img {
            width: 100%;
            display: block;
        }

        a {
            color: black;
        }
    }
}

.video {
    margin-top: 1em;
    max-width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.highlight {
    margin: 0;

    pre {
        margin: 1rem 0 1.5rem 0;
        border-top: 1px solid var(--light-gray);
        border-bottom: 1px solid var(--light-gray);
        padding: 1em;
        white-space: pre;
        overflow-x: auto;
        font-size: 0.875rem;
        line-height: 1.25;
    }

    em {
        font-style: normal;
    }

    p {
        margin: 0;
    }

    p:empty {
        display: none;
    }
}

@media only screen and (min-width: 568px) {
    header {
        flex-direction: row;

        .title {
            display: block;
        }
    }
}

// @media (prefers-color-scheme: dark) {
//     body {
//         background: #333333;
//         color: white;
//     }

//     header {
//         border-color: #222;

//         nav {
//             a {
//                 color: white;
//             }
//         }
//     }

//     a {
//         text-decoration-color: white;

//         &:hover {
//             text-decoration-color: white;
//         }
//     }
// }