---
layout: page
title: Reading
---

<table class="reading">
  <thead>

  </thead>
  <tbody>
  {% for post in site.categories.reading %}
    <tr>
      <td itemprop="title"><a href="{{ post.url }}">{{ post.title }}</a></td>
      <td itemprop="author">{{ post.author }}</td>
      <td itemprop="rating">
        {% for i in (1..post.rating) %}
          <span class="fas fa-star"></span>
        {% endfor %}
      </td>
      <td itemprop="date">{{ post.date | date: "%b %-d, %Y" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>