---
layout: default
---

<article class="post">
  <header class="post-header">
    <h2 class="post-title" itemprop="title">{{ page.title }} by {{ page.author }}</h2>
    <div class="post-metadata" itemprop="date">First read in {{ page.year_read }}</div>
    <div class="book-rating" itemprop="rating">Review {% for i in (1..page.rating) %}<span class="star"></span>{% endfor %}</div>
  </header>
  <img src="{{ site.url }}/assets/covers/{{ page.cover_image }}" class="book-cover">
  {{ content }}
  <aside class="book-details">
      <h3>Details</h3>
      <ul>
          <li>ISBN: <span itemprop="isbn">{{ page.isbn }}</span></li>
          <li>Year published: <span itemprop="datePublished">{{ page.year_published }}</span></li>
          <li>Publisher: <span itemprop="publisher">{{ page.publisher }}</span></li>
          <li><a href="https://openlibrary.org/works/{{ page.open_library }}">Find on Open Library</a></li>
      </ul>
  </aside>
</article>
