<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>{{ site.title }} &raquo; {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sean Voisen" />
    <link href="http://feeds.feedburner.com/voisen" rel="alternate" title="Sean Voisen" type="application/rss+xml" />
    <link href="/styles/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1034944-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/" title="Return to home page">Sean Voisen</a></h1>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <p>&copy; 2005-2011 Sean Voisen. <span id="mail">E-mail me</span> or find me on <a href="http://twitter.com/svoisen">Twitter.</a></p>
        <script type="text/javascript">
         document.getElementById('mail').innerHTML="<n uers=\"znvygb:frna@ibvfra.bet\" ery=\"absbyybj\">R-znvy zr</n>".replace(/[a-zA-Z]/g, 
            function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
        </script>
      </div>
    </div>
  </body>
</html>
