<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>{{ site.title }} &raquo; {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sean Voisen" />
    <link href="http://feeds.feedburner.com/voisen" rel="alternate" title="Sean Voisen" type="application/rss+xml" />
    <link href="/styles/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/scripts/audio-player.js"></script>
    <script type="text/javascript">
      AudioPlayer.setup("/swfs/audio_player.swf", {width:620});
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1034944-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/" title="Return to home page">Sean Voisen</a></h1>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <p>&copy; 2005-2011 Sean Voisen. <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#58;&#115;&#101;&#x61;&#x6e;&#64;&#118;&#111;&#x69;&#115;&#x65;&#x6e;&#46;&#111;&#x72;&#x67;">E-mail me</a> or find me on <a href="http://twitter.com/svoisen">Twitter.</a></p>
      </div>
    </div>
  </body>
</html>
