---
layout: default
---

<div id="post" class="post">
  <h2 class="title">{{ page.title }}</h2>
  <p class="meta">{{ page.date | date_to_string }}</p>
  {{ content }}
</div>

<div id="comments">
  <h2>Comments? Links? Tweets?</h2>
  <p>Comments are disabled. I limit the number of communications sources I monitor to two: <a href="http://twitter.com/svoisen">Twitter</a> and <span id="post_email">e-mail</span>. Feel free to contact me on either.</p>
  <p>If you feel compelled to publish a response to this post &mdash; neutral, positive, negative, or whatever &mdash; I&rsquo;ll be happy to link to it here.</p>
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li><span class="date">{{ post.date | date_to_string }}</span> <span class="arrow">&raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <p>More blog posts in the <a href="/blog">archives</a> &rarr;</p>
</div>

<script type="text/javascript">
  document.getElementById('post_email').innerHTML=getEmail("r-znvy");
</script>
