:root {
  --foreground-color: #333333;
  --accent-color: #cc0000;
  --highlight-color: #fdf6e3;
  --dark-gray: #666666;
  --medium-gray: #999999;
  --faint-gray: #f2f2f2;
  --light-gray: #d0d0d0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font: normal 100%/1.5 'Source Sans Pro', helvetica, clean, arial, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background: white;
  color: var(--foreground-color);
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: 'Source Code Pro', monospace, courier;
  font-size: 1em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid var(--faint-gray);
  background-color: transparent;
}

a:hover {
  background-color: var(--highlight-color);
  border-color: var(--light-gray);
  transition: 0.625s;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

acronym, abbr {
  cursor: help;
  border-bottom: 1px dotted var(--light-gray);
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: 'Source Code Pro', monospace, courier;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

[hidden] {
  display: none;
}

blockquote {
  border-left: 5px solid var(--faint-gray);
  padding-left: 15px;
  margin: 0;
  color: var(--dark-gray);
}

ul li {
  list-style: square outside none;
  margin-bottom: 0.5em;
}

ol li {
  list-style: decimal outside none;
  margin-bottom: 0.5em;
}

.body > .header {
  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding: 15px;
  flex-direction: column;
}

.body > .header .title {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 1.8em;
  line-height: 1;
  flex-grow: 1;
}

.body > .header .title a {
  color: white;
  border: none;
}

.body > .header .title a:hover {
  background: none;
}

.body > .header .nav ul {
  margin: 0.2em 0 0 0;
  padding: 0;
}

.body > .header .nav li {
  list-style: none;
  display: inline-block;
  margin: 0 0.4em 0 0;
}

.body > header .nav a {
  color: var(--light-gray);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.body > .header .nav a:hover {
  color: white;
  background: none;
  border-bottom-color: rgba(255, 255, 255, 0.6);
}

.body > .header .nav li.active a {
  border: none;
  color: white;
}

.body > .header .nav li.active a:hover {
  border: none;
}

.post > .header {
  text-align: center;
  margin: 1.4em 0 2em 0;
}

.post > .header .title {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.post > .header .meta {
  font-weight: 300;
  color: var(--medium-gray);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.post h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1.4em 0 0 0;
}

.post h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.4em 0 0 0;
}

.post h4 {
  font-weight: normal;
  font-style: italic;
  margin: 1.5em 0 0.5em;
  font-size: 1em;
}

.post h2 + p, .post h3 + p, .post h2 + ul, .post h3 + ul, .post h2 + ol, .post h3 + ol {
  margin-top: 0;
}

.post ul, .post ol {
  padding-left: 1.5em;
  margin-left: 1.5em;
}

.more {
  text-align: center;
  font-style: italic;
  margin-top: 3em;
}

.intro {
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid var(--light-gray);
  text-align: center;
}

.archives, .post ul.archives {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.archives li {
  padding: 0;
  margin: 0 0 1em 0;
  display: flex;
  align-items: center;
}

.archives .title {
  text-align: left;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 1em;
}

.archives .date {
  color: var(--medium-gray);
  font-size: 0.9em;
  text-align: right;
  min-width: -moz-max-content;
  min-width: max-content;
}

.content {
  max-width: 426px;
  margin: 0 auto 0 auto;
  padding: 2em 1em 1em 1em;
}

.content code {
  font-size: 0.9em;
}

.body > .footer {
  margin: 2em auto 3em auto;
  text-align: center;
  max-width: 426px;
}

.body > .footer p {
  margin: 0;
  padding: 0;
}

.body > .footer .contact {
  margin-top: 0.25em;
  font-size: 110%;
}

.body > .footer .contact a {
  color: black;
  display: inline-block;
  border: none;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 4px;
}

.body > .footer .contact a:hover {
  background: var(--highlight-color);
  color: var(--accent-color);
}

.framed {
  padding: 2px;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  max-width: 100%;
}

.reading {
  width: 100%;
}

.reading td {
  padding: 4px;
}

.projects, .post ul.projects {
  margin: 0;
  padding: 0;
}

.projects li {
  list-style: none !important;
  position: relative;
  border: 1px solid var(--light-gray);
  padding: 2px;
  margin: 0 0 1em 0;
}

.projects img {
  max-width: 100%;
  display: block;
}

.projects li .title {
  position: absolute;
  bottom: 2px;
  left: 2px;
  background: white;
}

.projects a {
  border: none;
  color: black;
}

.projects a:hover {
  background: none;
  color: var(--accent-color);
}

.video {
  margin-top: 1em;
  max-width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  margin: 0;
}

.highlight pre {
  margin: 1em 0 1.5em 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  padding: 1em;
  white-space: pre;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.25;
}

.highlight pre em {
  font-style: normal;
}

.highlight p {
  margin: 0;
}

.highlight p:empty {
  display: none;
}

@media only screen and (min-width: 768px) {
  .body > .content, .body > .footer {
    max-width: 576px;
    font-size: 112.5%;
  }

  .body > .content {
    font-size: 112.5%;
  }

  .body > .footer {
    font-size: 100%; 
  }
}

@media only screen and (min-width: 568px) {
  .body > .header {
    flex-direction: row;
  }

  .body > .header .nav ul {
    margin: 0;
  }
}
