html  {
  font:normal 90%/1.5 'Open Sans', arial, helvetica, clean, sans-serif;
}

body  {
  margin:0;
  padding:0;
  border-top:20px solid #000;
}

a  {
  color:#cc0000;
  text-decoration:none;
  background-color:#f2f2f2;
  border-bottom:1px solid #ccc;
}

a:hover {
  background-color:#ffffcc;
}

acronym, abbr {
  cursor:help;
  border-bottom:1px dotted #ccc;
}

blockquote {
  border-left:1px solid #ccc;
  padding-left:15px;
  color:#666;
  margin:0;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

sup {
  vertical-align:super;
}

pre {
  margin:1em 0 1.5em 0;
  background-color:#f2f2f2;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding:1.5em 1em 0 1em;
  font-family:courier,monospace;
  font-size:0.9em;
  letter-spacing:1px;
  line-height:150%;
}

code {
  font-family:courier,monospace;
  letter-spacing:1px;
}

.wrapper {
  width:656px;
  margin:0 auto 0 auto;
  padding:0;
}

.header {
  background-color:#000;
  color:#fff;
  padding:0;
  margin:0;
}

.header h1 {
  margin:0;
  padding:50px 15px 15px 15px;
  font-weight:normal;
}

.header h1 a {
  background-color:transparent;
  color:#fff;
  border:none;
  text-decoration:none;
}

.header h1 a:hover {
  border-bottom:1px solid #fff;
}

.content {
  margin-top:10px;
  border-top:1px solid #ccc;
  padding:15px;
}

h2 {
  font-weight:bold;
  margin:1.4em 0 0 0;
  padding:0;
}

h2 + p {
  margin-top:0.2em;
}

h2 + ul, h2 + ol {
  margin-top:0.5em;
}

h3 {
  font-weight:bold;
  margin:1.4em 0 0 0;
  padding:0;
}

h4 {
  font-weight:normal;
  font-style:italic;
  margin:1.5em 0 0.5em;
}

ul, ol {
  padding-left:15px;
  margin-left:15px;
}

ul li {
  list-style:disc outside none;
}

ol li {
  list-style:decimal outside none;
}

ul li, ol li {
  margin-bottom:1em;
}

.footer {
  border-top:1px solid #ccc;
  padding:15px;
  text-align:right;
}

.footer p {
  margin:0;
  padding:0;
}

.meta {
  color:#999;
  padding-left:15px;
  margin:0 0 1.5em 0;
}

.posts {
  padding-left:0;
  margin-left:0;
}

.posts li {
  list-style:none;
  margin-bottom:0.5em;
}

.return {
  margin:0 0 10px 0;
}

.framed, .video {
  padding:2px;
  border:1px solid #ccc;
  overflow:hidden;
}

.video {
  margin-top: 1em;
}

.date {
  color:#999;
  font-family:monospace;
  font-size:1.2em;
}

.summary {
  margin-top:0;
  padding-top:0;
}

.title {
  margin-top:1em;
}

.links li {
  margin-bottom:0.5em;
}

.arrow {
  padding:0 0.3em 0 0.3em;
}

.contact, .about-link {
  display: inline-block;
}

@media screen and (max-width: 656px) {
  body {
    border-top:none;
  }

  .wrapper {
    width:100%;
  }

  .header h1 {
    padding:15px;
  }

  .date {
    display:none;
  }

  .arrow {
    display:none;
  }

  .posts {
    padding-left:15px;
    margin-left:15px
  }

  .posts li {
    list-style:disc outside none;
  }

  .framed, .video {
    max-width:100%;
  }
}

/* Pygments */
.hll { background-color: #ffffcc }
.c { color: #008000 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.cm { color: #008000 } /* Comment.Multiline */
.cp { color: #0000ff } /* Comment.Preproc */
.c1 { color: #008000 } /* Comment.Single */
.cs { color: #008000 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #2b91af } /* Keyword.Type */
.s { color: #a31515 } /* Literal.String */
.nc { color: #2b91af } /* Name.Class */
.ow { color: #0000ff } /* Operator.Word */
.sb { color: #a31515 } /* Literal.String.Backtick */
.sc { color: #a31515 } /* Literal.String.Char */
.sd { color: #a31515 } /* Literal.String.Doc */
.s2 { color: #a31515 } /* Literal.String.Double */
.se { color: #a31515 } /* Literal.String.Escape */
.sh { color: #a31515 } /* Literal.String.Heredoc */
.si { color: #a31515 } /* Literal.String.Interpol */
.sx { color: #a31515 } /* Literal.String.Other */
.sr { color: #a31515 } /* Literal.String.Regex */
.s1 { color: #a31515 } /* Literal.String.Single */
.ss { color: #a31515 } /* Literal.String.Symbol */
