html{color:#000;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}body{font:13px/1.231 'Open Sans',arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,textarea,button{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}body{text-align:left}
body{margin:0;padding:0;border-top:20px solid #000;}
a{color:#cc0000;text-decoration:none;background-color:#f2f2f2;border-bottom:1px solid #ccc;}
a:hover{background-color:#ffffcc;}
acronym, abbr{cursor:help;border-bottom:1px dotted #ccc;}
blockquote{border-left:1px solid #ccc;padding-left:15px;color:#666;margin:0;}
strong{font-weight:bold;}
em{font-style:italic;}
pre{margin:1em 0 1.5em 0;background-color:#f2f2f2;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:1.5em 1em 0 1em;font-family:courier,monospace;font-size:0.9em;letter-spacing:1px;line-height:150%;}
code{font-family:courier,monospace;letter-spacing:1px;}
#wrapper{width:656px;margin:0 auto 0 auto;padding:0;}
#header{background-color:#000;color:#fff;padding:0;margin:0;}
#header h1{margin:0;padding:50px 15px 15px 15px;font-weight:normal;font-size:197%;}
#header h1 a{background-color:transparent;color:#fff;border:none;text-decoration:none;}
#content{margin:10px 0 0 0;border-top:1px solid #ccc;padding:15px;}
#content h2{font-weight:bold;margin:2em 0 0.5em 0;padding:0;font-size:138.5%;}
#content h2.title{margin-bottom:0;}
#content h3{font-weight:bold;margin:2em 0 0.5em 0;padding:0;font-size:123.1%;}
#content h4{font-weight:normal;font-style:italic;margin:1.5em 0 0.5em;font-size:116%;}
#content p, #content blockquote, #content ul, #content ol{font-size:108%;line-height:150%;}
#content p{margin-bottom:1.5em;}
#content ul, #content ol{padding-left:15px;margin-left:15px;margin-bottom:1.5em;}
#content ul li{list-style:disc outside none;}
#content ol li{list-style:decimal outside none;}
#content ul li, #content ol li{margin-bottom:0.5em;}
#footer{border-top:1px solid #ccc;font-size:108%;padding:15px;text-align:right;}
#content p.meta{color:#999;padding-left:15px;margin:0 0 1.5em 0;}
#content ul.posts{padding-left:0;margin-left:0;}
#content ul.posts li{list-style:none;}
div.video{padding:2px;border:1px solid #ccc;}
img.framed{padding:2px;border:1px solid #ccc;}
.date{color:#999;font-family:monospace;}

/* Pygments */
.hll { background-color: #ffffcc }
.c { color: #008000 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.cm { color: #008000 } /* Comment.Multiline */
.cp { color: #0000ff } /* Comment.Preproc */
.c1 { color: #008000 } /* Comment.Single */
.cs { color: #008000 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #2b91af } /* Keyword.Type */
.s { color: #a31515 } /* Literal.String */
.nc { color: #2b91af } /* Name.Class */
.ow { color: #0000ff } /* Operator.Word */
.sb { color: #a31515 } /* Literal.String.Backtick */
.sc { color: #a31515 } /* Literal.String.Char */
.sd { color: #a31515 } /* Literal.String.Doc */
.s2 { color: #a31515 } /* Literal.String.Double */
.se { color: #a31515 } /* Literal.String.Escape */
.sh { color: #a31515 } /* Literal.String.Heredoc */
.si { color: #a31515 } /* Literal.String.Interpol */
.sx { color: #a31515 } /* Literal.String.Other */
.sr { color: #a31515 } /* Literal.String.Regex */
.s1 { color: #a31515 } /* Literal.String.Single */
.ss { color: #a31515 } /* Literal.String.Symbol */
